.board {
  display: grid;
  grid-template-columns: repeat(21, 100px);
  grid-gap: 2px;

}
.field{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  background-image: url("../../assets/background.png");
}
